{%extends 'base.html'%}
{%block content%}

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://economictimes.indiatimes.com/thumb/msid-75892416,width-1200,height-900,resizemode-4,imgsize-890927/like-many-other-top-chefs-adria-has-been-sharing-some-of-his-own-recipes-to-encourage-the-home-cooking-revolution-.jpg?from=mdr"
                class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/Barbieri_-_ViaSophia25668.jpg/1200px-Barbieri_-_ViaSophia25668.jpg"
                class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
        </div>
    </div>
</div>

{%endblock%}